/*-- scss:defaults --*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');

$font-family-sans-serif: 'Poppins', sans-serif;
$presentation-heading-font: 'Abril Fatface', serif;
$presentation-heading-font-weight: 400;

$body-bg: #011520;
$code-block-border-color: #00000000;
$linkColor: #e7ad52;
$linkColorHover: lighten( $linkColor, 20% );
$presentation-heading-color: lighten($linkColor, 30%);
